<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <div class="container">
    <h1>About</h1>
    <div class="info">
      <p><span class="label">Imię:</span> Jakub</p>
      <p><span class="label">Nazwisko:</span> Sosin</p>
      <p><span class="label">Rok akademicki:</span> 2025/2026</p>
      <p><span class="label">Kierunek:</span> Informatyka Sotosowana</p>
      <p><span class="label">Grupa:</span> K02</p>
    </div>
  </div>
</body>
</html>
