<main>
    {{#if hasProducts}}
    <div class="grid">
        {{#each prods}}
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">{{ this.title }}</h1>
            </header>
            <div class="card__content">
                <h2 class="product__price">{{ this.price }} PLN</h2>
                <p class="product__description">{{ this.desc }}</p>
            </div>
        </article>
        {{/each}}
    </div>
    {{ else }}
    <h1>No Products Found!</h1>
    {{/if}}
</main>
