<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class="centered">THIS OPTION IS NOT READY YET</h1>
    <div class="card__image">
        <img src="/img/notready.jpg" alt="NOT READY YET!">
    </div>
    <p>
        We're working on it, soon will be ready!<br>
    </p>

<%- include('includes/end.ejs') %>