<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Internal server error #500!</h1>
    <div class="user-message user-message--error"><%=  errorMessage %></div>

<%- include('includes/end.ejs') %>
